/* shared */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  color: #aaaaaa;
}

body {
  background-color: #090a0f;
}

#header {
  background: #505a7a;
  padding: 10px;
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  justify-content: space-between;
  font-size: 28px;
  color: #aaaaaa;
  position: sticky;
  top: 0;
  z-index: 1;
}
.titleh1 {
  padding: 10px 20px;
  color: #a9fecd;
}

.text {
  background-color: #0f111a;
  margin: 20px;
  padding: 10px;
  box-shadow: 9px -9px #5e97af50;
  border: medium dashed #a574c3; 
  font-size: 130%;
}

#social {
  text-align: center;
}

a {
  text-decoration: none;
  font-size: 25px;
}

a:hover {
  color: #45babf;
  font-weight: bold;
}
