/* shared */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  color: #aaaaaa;
}

body {
  background-color: #090a0f;
}

#header {
  background: #000000;
  padding: 10px;
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  justify-content: space-between;
  font-size: 28px;
  color: #aaaaaa;
  position: sticky;
  top: 0;
  z-index: 1;
}
.titleh1 {
  padding: 10px 20px;
  color: #a9fecd;
}

.text {
  background-color: #0f111a;
  margin: 20px;
  box-shadow: 9px -9px #505a7a30;
  font-size: 130%;
}

#social {
  width: 50%;
  margin-left: 30%;
  text-align: center;
  border: medium dashed #57f199;
  padding: 0 0 10px 20px;
}

a {
  text-decoration: none;
  font-size: 25px;
}

a:hover {
  color: #45babf;
  font-weight: bold;
}
