/* shared */
:root {
  --font_color: #aaaaaa;
  --background-color-body: #090a0f;
  --background-color-block: #0f111a;
  --background-color-header: #0f111f;
  --title-color: #a9fecd;
  --a-hover-color: #5e97af;
  --shadow-color: #5e97af50;
  --border-color: #a574c3;
  
  /* python */
  --python-commment:#6e6efe;
  --python-function:#89ddff;
  --python-extra: #57f199;
  --python-myfuncions:#e98567;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  color: var(--font_color);
}

body {
  background-color: var(--background-color-body);
}

#header {
  background: var(--background-color-header);
  padding: 10px;
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  justify-content: space-between;
  font-size: 28px;
  color: var(--font_color);
  position: sticky;
  top: 0;
  z-index: 1;
}
.theme_btn {
  background-color: var(--background-color-header);
  padding: 0 20px 0 20px;
  color: var(--font-color);
  font-size: 20px;
  border: none;
}

.theme_btn:hover {
  background-color: var(--background-color-block);
  color: var(--title-color);
  border: var(--border-color) 2px solid;
}

.title {
  padding: 10px 20px;
  font-size: 30px;
  color: var(--title-color);
}

.text {
  background-color: var(--background-color-block);
  margin: 20px;
  padding: 10px;
  box-shadow: 9px -9px var(--shadow-color);
  border: medium dashed var(--border-color);
  font-size: 130%;
}

/* .language-sh{ */
/* } */
.writeup{
  text-align: center;
}

a {
  text-decoration: none;
  font-size: 25px;
}

a:hover {
  color: var(--a-hover-color);
  font-weight: bold;
  text-decoration: dashed;
}
#copyright {
  text-align: center;
  background: black;
  font-size: 15px;
}

/* python code */
.python_comment {
  color: var(--python-commment);
}
.python_func {
  color: var(--python-function);
}

.python_extra {
  color: var(--python-extra);
}
.python_myfuncions {
  color: var(--python-myfuncions);
}
